
<tabs-header [hasNotification]="hasNotification" [headerTitle]="dashboardHeader"></tabs-header>
<ion-content padding class="dashboard" *mobxAutorun>

  <!-- <skeleton-dashboard [hasDataLoaded]="hasLoaded" *ngIf="!hasLoaded"></skeleton-dashboard> -->
<!-- *ngIf="!hasLoaded" -->
  <div text-center [class.fade-in]="!hasLoaded">
  <!-- <div text-center class="fade-in"> -->
    <div class="div-boder dashboard--day-circle-container" padding-bottom>

<!--Circle indicator -->
        <circle-progress
        [percent]="circularProgressBarHPercentage"
        [radius]="100"
        [space]="12"
        [showUnits]="false"
        [showSubtitle]="false"
        [outerStrokeWidth]="5"
        [innerStrokeWidth]="5"
        [outerStrokeColor]="circularProgressOuterStrokeColor"
        [innerStrokeColor]="circularProgressInnerStrokeColor"
        [animation]="true"
        [animationDuration]="300"
        [title]= "circularProgressBarHeader"
        [titleColor]="circularTitleColor"
        [titleFontSize]="50"
      ></circle-progress>

      <div *ngIf="!isPostQuit && hasLoaded && remainingDays !== 0" class="dashboard--remaining-days-container">
        <div class="dashboard--remaining-days">{{remainingDays}} {{daysText}}</div>
        <h2 ion-text color="darklimegreen">{{untilYourQuitDateText}}</h2>
      </div>
      <div *ngIf="isPostQuit && remainingDays !== 0" class="dashboard--remaining-days-container">
        <div class="dashboard--remaining-days">{{remainingDays}} {{daysText}}</div>
        <h2 ion-text color="darklimegreen">{{smokeFreeText}}</h2>
      </div>
    </div>

    <!-- Money Saved -->
    <span ion-text class="dashboard--total-savings" color="turquiose">{{savedDollars}}.
      <span class="cents">{{savedCents}}</span>
    </span>

    <h2 ion-text text-wrap class="dashboard--saved-text" color="turquiose">{{savedText}}</h2>
    <h5 ion-text large color="brgrey" text-wrap>{{projectedText}}
       <ion-icon
       style="color:grey"
       (click)="onProjectedLifeSavingsTap()"
       name="ios-information-circle-outline">
    </ion-icon>
  </h5>
    <h3 ion-text text-wrap color="turquiose">{{projectedLifeSavings}}
        <ion-icon
        style="color:grey"
        (click)="onProjectedLifeSavingsProgressTap()"
        name="ios-information-circle-outline">
     </ion-icon>
    </h3>
    <!-- Projected Estimated Lifetime Savings Line Chart -->
    <div clas="div-boder" style='background-color:white'>
      <canvas id="lineCanvas" width="50" height="50" style="pointer-events: none"></canvas>
    </div>
    <!-- Cigarettes Smoked Per Day -->

    <div *ngIf="!isPostQuit" class="div-boder">
      <h2 ion-text text-wrap class="large-label" color="turquiose">{{cigsPerDayText}}</h2>
      <div style='background-color:white'>
        <canvas id="barCanvas" width="50" [height]="cigsPerDayHeight" style="pointer-events: none"></canvas>
      </div>
      <button
        text-center
        ion-button
        large
        (click)="capture()"
        class="breakroom--button-default helix--submit submit">
        {{dailyDiaryText}}
      </button>
    </div>
    <!-- My Progress -->
    <div text-center class="div-boder" *ngIf="isPostQuit">
      <h2 ion-text text-wrap class="large-label" color="turquiose">{{myProgressText}}</h2>
      <ion-grid >
        <ion-row>
          <ion-col col-6 class="large-label-title">
            <h5 ion-text large  color="brgrey" text-wrap>{{daysSmokeFreeText}}</h5>
          </ion-col>
          <ion-col class="large-label-title">
            <h5 ion-text text-wrap  class="large-label" color="turquiose">{{daysSmokeFree}}</h5>
          </ion-col>
        </ion-row>
        <ion-row>
          <ion-col col-6 class="large-label-title" >
            <h5 ion-text large  color="brgrey" text-wrap>{{cigsNotSmokedText}}</h5>
          </ion-col>
          <ion-col class="large-label-title">
            <h5 ion-text text-wrap  class="large-label" color="turquiose">{{cigarettesNotSmoked}}</h5>
          </ion-col>
        </ion-row>
        <ion-row>
          <ion-col col-6 class="large-label-title">
            <h5 ion-text large  color="brgrey" text-wrap>{{timeNotSmokedText}}</h5>
          </ion-col>
          <ion-col class="large-label-title">
            <h5 ion-text text-wrap class="large-label" color="turquiose">{{timeNotSpentNotSmoking}}</h5>
          </ion-col>
        </ion-row>
        <ion-row text-left>
          <ion-icon style="color:grey" (click)="onMyProgressTap()" name="ios-information-circle-outline">
          </ion-icon>
        </ion-row>
      </ion-grid>
    </div>
    <!-- My Goals-->
    <div class="my-goals-container">

      <div text-center>
        <h2 ion-text text-wrap class="large-label" color="turquiose">{{myGoalsHeader}}</h2>
        <h3 ion-text color="turquiose">{{lastAchievementHeader}}</h3>
      </div>

      <!-- Last Achievement -->
      <last-achievement
      *ngIf="userStore.user.latestUnlockedAchievement.reachedUrl"
      [achievementTitle]="userStore.user.latestUnlockedAchievement.title"
      [achievementUrl]="userStore.user.latestUnlockedAchievement.reachedUrl"
      [showAnimation]="false"
      [showImage]="true"
      [showHeader]="false"
      [showCelebrate]="false"
      [showAchievementTitle]="true"
      [showAchievementText]="false"
      ></last-achievement>

      <!-- My Next Goals -->
      <div *ngIf="isNextGoalsVisible" padding-top text-center >
        <h3 ion-text color="turquiose">{{myNextGoalsHeader}}</h3>
        <ion-spinner *ngIf="isGoalsLoading"  item-start name="ios"></ion-spinner>
      </div>
      <ion-grid no-padding *ngIf="!isGoalsLoading">
        <ion-row text-center >
          <ion-col *ngIf="nextProgressAchievement" >
            <div class="goals-container">
              <img class="my-goal-icon" [src]="nextProgressAchievement && nextProgressAchievement.toObtainUrl">
              <p ion-text [innerHTML]="nextProgressAchievement && nextProgressAchievement.title"></p>
            </div>
          </ion-col>
          <ion-col *ngIf="nextHealthAchievement" >
            <div class="goals-container">
              <img class="my-goal-icon" [src]="nextHealthAchievement && nextHealthAchievement.toObtainUrl">
              <p ion-text [innerHTML]="nextHealthAchievement && nextHealthAchievement.title"></p>
            </div>
          </ion-col>
          <ion-col *ngIf="nextMoneyAchievement">
            <div class="goals-container">
              <img class="my-goal-icon" [src]="nextMoneyAchievement && nextMoneyAchievement.toObtainUrl">
              <p ion-text [innerHTML]="nextMoneyAchievement && nextMoneyAchievement.title"></p>
            </div>
          </ion-col>
          </ion-row>
        </ion-grid>
          <hr style="height: 1px" />
      </div>


    <!-- Community -->
    <div class="community">
        <h2
          ion-text
          text-wrap
          class="large-label"
          color="turquiose"
          >{{communityHeader}}
        </h2>
        <div>
          <!-- New members this month -->
          <div class="community-stats">
            <span
              class="community-count"
              style="background: #0c565a"
              >{{newMembers}}

              <ion-spinner *ngIf="isMembersLoading" name="bubbles"></ion-spinner>
            </span>
            <p class="community-text">{{newMembersText}}</p>
          </div>
          <!-- Current Total Members -->
          <div class="community-stats">
            <span
              class="community-count"
              style="background: turquoise"
              >{{communityCurrent}}

              <ion-spinner *ngIf="isMembersLoading" name="bubbles"></ion-spinner>
            </span>

            <p class="community-text">{{currMembersText}}</p>
          </div>
          <!--Achievements celebrated this month -->
          <div class="community-stats">
            <span
              class="community-count"
              style="background: #94c34a"
              >{{achCelebrated}}

              <ion-spinner *ngIf="isAchCelebratedLoading" name="bubbles"></ion-spinner>
            </span>
            <p class="community-text">{{achCelebratedText}}</p>
          </div>
        </div>
    </div>
    <!-- Go to newsfeed-->
    <button
    text-center
    ion-button
    large
    (click)="goToNewsFeed()"
    class="breakroom--button-default helix--submit headto-newsfeed submit">
    {{newsFeedButtonText}}
    </button>

  </div>

</ion-content>
