page-reset-password{
    .login-icon {
        background:(url('../assets/imgs/reset.svg')) no-repeat;
        width: 42%;
        height: 30%;
      }
      .helix--submit {
        margin-top: 0px;
      }
}